.quiz-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.quiz-container {
    width: 90%;
    min-width: 320px;
    max-width: 1280px;
    min-height: 631px;
    max-height: 720px;
    padding: 3rem;
    border-radius: 15px;
    background: linear-gradient(180deg, #F6B868 0%, #EE6B2D 100%); 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    font-weight: 700;
    position: relative;
}

.question {
    font-size: clamp(1.25rem, 0.8333rem + 2.0833vw, 2.5rem);    
    line-height: 2rem;
}

.answer-statement {
    font-size: clamp(1rem, 0.6667rem + 1.6667vw, 2rem);
    line-height: 1.6px;
}
